html {
	height: 100%;
	width: 100%;
}

.top_line {
		margin-right: 160px;
}

.top_line li {
	display: inline-block;
	line-height: 24px;
    outline: none;
    color: #000;
    font-family: arial,sans-serif;
    font-size: 13px;
	padding-left: 10px;
	margin-top: 10px;
	float: right;
	margin-bottom: 80px;
	margin-right: 12px;
}

li IMG.grid {
	display: block;

}

.grid {
	position: absolute;
	clip: rect(40px, 160px, 75px, 135px);
	top: -21px;
	margin-left: 12px;
}

.sign_in {
	position: absolute;
	border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-color: #4285f4;
    color: white;
    right: 15px;
	top: 0px;
}

.content {
	height: 240px;
	margin-left: auto;
	margin-right: auto;
}
div .logo {
	width: 272px;
	height: 102px;
	margin-top: 100px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

IMG.logo {
	width: 272px;
	height: 110px;
	display: block;
	position: relative;
}

.logo-subtext {
	color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
    position:relative;
    top: -30px;
    padding-left: 212px;
}

input {
	display: block;
	margin: 0 auto;
	height: 38px;
	width: 443px;
	box-shadow: none;
	border: 1px solid rgb(217, 217, 217);
	padding-top: 6px;
    padding-left: 9px;
    padding-right: 9px;
}

input:hover {
	border-color: rgb(185, 185, 185);
}

.speech_symbol {
	padding-left: 410px;
}

IMG.speech {
	position: relative;
	width: 24px;
	height: 24px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: -31px;
}

input:focus {
	outline: none;
	border: 1px solid #0099FF;
}

.buttons {
	position: relative;
	top: 0px;
	margin: 0 auto;
	text-align: center;
}
button {
	display: inline-block;
	height: 36px;
	line-height: 27px;
	border-radius: 2px;
	color: #757575;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
}

button:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

p {
	position: relative;
	top: 25px;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	font-size: small;
}

.footer {
	background-color: #F2F2F2;
	height: 40px;
	width: 100%;
	border-top: 1px solid #E4E4E4;
	border-bottom: none;
	position: absolute;
	bottom: 0;
	padding-top: 10px;
}

.footer li {
	list-style-type: none;
	display: inline;
	padding-left: 27px;
	padding-right: 27px;
	font-size: 13px;
}

li a {
	color: #66666A
}

li a:hover {
	text-decoration: underline;
	color: #66666A;
}

ul.left_nav {
	float: left;
	padding-left: 0px;
}

ul.right_nav {
	float: right;
}